.admin {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    display: grid;
    grid-template-columns: 280px auto;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
